#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 9.3rem;
}

#main .wrapper-text {
  display: flex;
  flex-direction: column;
  margin-top: 1.7rem;
  text-align: center;
}

#main .title {
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--color-title);
}

#main .description {
  font-size: 2rem;
  font-weight: 600;
}

#main .down-arrow {
  margin-top: 3.5rem;
}

#cards {
  padding-block: 5.2rem;
  background: var(--color-background-linear);
}

#cards .wrapper-cards {
  display: grid;
  gap: 5rem;
}

#cards .card {
  padding: 2.65rem;
  border-radius: 2rem;
  box-shadow: 0px 3.311px 13.243px 0px rgba(0, 0, 0, 0.25);;
  background-color: var(--color-text-secondary);
}

#cards .card h2 {
  margin: 3.2rem 0 2rem;
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-title);
}

#cards .card p {
  width: 26.6rem;
}

#form {
  padding: 7.8rem 0 6.5rem;
}

#form h2 {
  margin-bottom: 4.2rem;
  font-size: 3.2rem;
  font-weight: 900;
  color: var(--color-title);
}

#form input {
  width: 100%;
  padding: 1.2rem 1.6rem 1.2rem 5rem;
  border: .2rem solid var(--color-text-primary);
  border-radius: 1.6rem;
  background-color: transparent;
  background-image: url(../../images/person.svg);
  background-repeat: no-repeat;
  background-position: center left 1.4rem;
  outline: none;
}

#form input::placeholder {
  color: var(--color-text-primary);
}

#form input:focus {
  border: .2rem solid var(--color-title);
}