#cards {
  padding-block: 5.2rem;
  background: var(--color-background-linear);
}

#cards .wrapper-cards {
  display: grid;
  gap: 5rem;
}

#cards .card {
  max-width: 36.6rem;
  padding: 2.65rem;
  border-radius: 2rem;
  box-shadow: 0px 3.311px 13.243px 0px rgba(0, 0, 0, 0.25);;
  background-color: var(--color-text-secondary);
}

#cards .card img {
  width: 8rem;
  height: 8rem;
}

#cards .card h2 {
  margin: 3.2rem 0 2rem;
  font-size: 2.6rem;
  font-weight: 900;
  color: var(--color-title);
}

@media screen and (min-width: 23.4em) {
  #cards .card h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 48em) {
  #cards .wrapper-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 64em) {
  #cards .wrapper-cards {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }

  #cards .card h2 {
    font-size: 2.6rem;
  }
}

@media screen and (min-width: 80em) {
  #cards .wrapper-cards {
    gap: 6rem;
  }

  #cards .card img {
    width: 9.7rem;
    height: 9.7rem;
  }

  #cards .card h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 90em) {
  #cards {
    padding-block: 6.4rem;
  }

  #cards .card {
    padding: 3.2rem;
  }

  #cards .card h2 {
    margin: 4rem 0 2.4rem;
    font-size: 3.6rem;
  }

  #cards .card p {
    font-size: 1.8rem;
  }
}